#header{
    margin:10px 0 0 0;
    text-align: center;
}

.image1 img{
    width:480px;
    height:600px;
    float:left;
    margin:-20px 0 0 100px;
}

.image2{
    margin:0 auto;
    text-align: center;
}
.image2 img{
    width:200px;
    height:300px;
}

.image3 img{
    width:480px;
    height:600px;
    float:left;
    margin:0 0 0 100px;
}

.content1{
    width:480px;
    height:550px;
    float:left;
    margin:70px 0 0 80px;
}

.content3{
    width:480px;
    height:550px;
    float:left;
    margin:30px 0 0 80px;
}

.card1{
    width:300px;
    height:280px;
    border:1px solid black;
    float:left;
    margin:30px 60px 0 130px;
}
.card2{
    width:300px;
    height:280px;
    border:1px solid black;
    float:left;
    margin:30px 60px 0 0;
}
.card3{
    width:300px;
    height:280px;
    border:1px solid black;
    float:left;
    margin:30px 0 0 0;
}